/* Reset and base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    position: relative;
}

.logo {
    max-width: 150px;
    max-height: 100px;
}