{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel='stylesheet' href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}
<div class="about-container">
    <div class="about-header">
        <div class="about-bckgnd-img">
            <img class="gallery-img"
            src="{% static 'images/about_header.jpeg' %}"
            alt="IPG CHURCH">
        </div>
        <div class="about-text">
            <h1 class="title">
                ABOUT<br>
                IPG CHURCH
            </h1>
            <h4 class='gold-text'>
                ENCENDIDOS POR SU PRESENCIA.<br>
                TRANSFORMADOS PARA IMPACTAR.
            </h4>
            <p>
                Somos una iglesia que existe para glorificar a Dios<br>
                alcanzando personas, formando discipulos y<br>
                impactando generaciones con el amor de Jesus.
            </p>
        </div>
    </div>
    <div class='about-body'>
        <div class='about-main'>
            <h4 class='gold-text'>
                NUESTRA HISTORIA
            </h4>
            <h1 class='abt-title'>
                Un Propósito que<br>
                Comenzó en el Corazón<br>
                de Dios.
            </h1>
            <div class='abt-text'>
                <p>IPG Church nacio en el corazon de Dios y en la obedencia de un<br> 
                llamado: llevar su presencia a nuestra ciudad y mas alla.</p>

                <p>Desde nuestros inicios, hemos creido que la iglesia no es solo un<br>
                lugar, sino una familia donde cada persona puede encontrar<br>
                esperanza, sanidad, proposito y un futuro eterno en Cristo.</p>
                
                <p>Lo que comenzo como un pequeno grupo de personas con una<br>
                gran vision, hoy es un movimiento que sigue creciendo para la<br>
                gloria de Dios.</p>
            </div>
        </div>
        <div class='about-tags'>
            <div class='reach tag-item'>
                <div class="timeline">
                    <span class="dot"></span>
                    <span class="abt-line"></span>
                </div>
                <i class="fa-solid fa-people-group"></i>
                <div class='tag-text'>
                    <p class='tag-title'>ALCANZAR</p>
                    <p>Vamos a donde estan las personas con el mensaje<br>
                        transformador del Evangelio.
                    </p>
                </div>
            </div>
            <div class='form tag-item'>
                <div class="timeline">
                    <span class="dot"></span>
                    <span class="abt-line"></span>
                </div>
                <i class="fa-solid fa-book-open"></i>
                <div class='tag-text'>
                    <p class='tag-title'>FORMAR</p>
                    <p>Equipamos y ensenamos a las personas para que crezcan<br>
                        en su relacion con Dios.
                    </p>
                </div>
            </div>
            <div class='send tag-item'>
                <div class="timeline">
                    <span class="dot"></span>
                    <span class="abt-line"></span>
                </div>
                <i class="fa-regular fa-heart"></i>
                <div class='tag-text'>
                    <p class='tag-title'>ENVIAR</p>
                    <p>Enviamos discipulos al mundo para impactar su<br>
                        familia, comunidad y naciones.
                    </p>
                </div>
            </div>
            <div class='impact tag-item last'>
                <div class="timeline">
                    <span class="dot"></span>
                    <span class="abt-line"></span>
                </div>
                <i class="fa-solid fa-globe"></i>
                <div class='tag-text'>
                    <p class='tag-title'>IMPACTAR GENERACIONES</p>
                    <p>Creamos un legado de fe que transforma el presente<br>
                        e inspira el futuro.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class='about-pastors'>
        <div class='pastors-info'>
            <h4 class='gold-text'>
                NUESTROS PASTORES
            </h4>
            <h1 class='abt-title'>
                Pastores<br>
                Carlos & Karen<br>
                Ocasio.
            </h1>
            <div class='abt-text'>
                <h4 class='gold-text'>
                    PASTORES PRINCIPALES
                </h4>
                <p>
                    Apasionados por ver a las personas encontrar a<br> 
                    Dios, caminar en su proposito y vivir una vida de<br>
                    impacto. Juntos, lideran IPG Church con un<br>
                    corazon para servir, ensenar y emporedar a<br>
                    otros para que crezcan en su fe y cumplan en el<br>
                    llamado de Dios en sus vidas.
                </p>
            </div>
        </div>
        <div class='pastors-img'>
            <img
            src="{% static 'images/pastors_img.PNG' %}"
            alt="IPG CHURCH">
        </div>
        <div class='pastors-msg'>
            <i class="fa-solid fa-quote-left"></i>
            <h3 class='pastors-text'>
                "Nuestro mayor deseo es que las<br>
                personas encuentren a Dios,<br>
                descubran su proposito, formen<br>
                familia y marquen la diferencia."
            <h3>
            <h4 class='text-author'>
                - Pastores Carlos & Karen Ocasio
            </h4>
        </div>
    </div>
</div>
{% endblock %}