{% load static %}
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>IPG Church</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav id='info'>
            <div class='nav-right'>
                <a href='{% url 'home' %}'>
                    <img class='logo' src='{% static 'images/nav_logo.png' %}' alt='IPG Church'>
                </a>
            </div>
            <div>
                <ul class="sidebar">
                    <li onclick="closeSidebar()"><a href="#about-section"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#000000"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                   <li><a href="#about-section">Home</a></li>
                    <li><a href="#about-section">About</a></li>
                    <li><a href="#projects-section">Events</a></li>
                    <li><a href="#skills-section">Connect</a></li>
                    <li><a href="#leave-message-section">Connect</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="hideOnMobile"><a href="#about-section">About</a></li>
                    <li class="hideOnMobile"><a href="#projects-section">Projects</a></li>
                    <li class="hideOnMobile"><a href="#skills-section">Skills</a></li>
                    <li class="hideOnMobile"><a href="#leave-message-section">Leave a Message!</a></li>
                    <li class="menuButton" onclick="showSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#000000"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
                </ul>
            </div>
        </nav>
    </header>




    <footer class="footer">
        <p>&copy; <span id="year"></span> IPG Church. All Rights Reserved.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        function showSidebar(){
            const sidebar = document.querySelector('.sidebar')
            event.preventDefault(sidebar.style.display = 'flex')
        }
        function closeSidebar(){
            const sidebar = document.querySelector('.sidebar')
            event.preventDefault(sidebar.style.display = 'none')
        }
        document.addEventListener("DOMContentLoaded", function () {
            // Automatically update the copyright year
            document.getElementById('year').textContent = new Date().getFullYear();
    
            // Initialize Swiper
            const swiper = new Swiper(".card-swiper", {
                centeredSlides: false,
                spaceBetween: 0,
                slidesPerView: 'auto'
            });
        });
    </script>
</body>