{% load static %}
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>IPG Church</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav id='info'>
            <div class="nav-logo">
                <a href="{% url 'home' %}">
                    <img class='logo' src="{% static 'images/nav_pic.png' %}" alt="IPG Church">
                </a>
            </div>
            <div class='nav-center'>
                <ul class="nav-links">
                    <li><a class='home' href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#events">Events</a></li>
                    {% comment %} <li><a href="#resources">Resources</a></li> {% endcomment %}
                    <li><a href="#connect">Connect</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                </ul>
            </div>
            <div class='nav-right'>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/ipgprovocadores/"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
                <a href="{% url 'donate' %}" class="donate-btn">
                    <i class="fa-solid fa-heart"></i>
                    Donate
                </a>
                <div class="sidebar">
                    <button onclick="closeSidebar()">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Events</a>
                    <a href="#">Connect</a>
                    <a href="#">Contact Us</a>
                    <a href="#">Donate</a>
                </div>
            </div>
        </nav>
    </header>

    <footer>
        <div class='ftr-info'>
            <div class='ftr-left'>
                <img class='logo' src="{% static 'images/nav_pic.png' %}" alt='IPG Church'>
                <p>Encendidos por su presencia.</p>
                <p>Transformados para impactar.</p>
            </div>
            <div class='quick-links'>
                <ul class="ftr-links">
                    <h3>QUICK LINKS</h3>
                    <li><a class='ftr-home' href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#events">Events</a></li>
                    {% comment %} <li><a href="#resources">Resources</a></li> {% endcomment %}
                    <li><a href="#connect">Connect</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                </ul>
            </div>
            <div class='social'>
                <h3>FOLLOW US</h3>
                <li><a href="#"><i class="fab fa-facebook"></i>Facebook</a></li>
                <li><a href="https://www.instagram.com/ipgprovocadores/"><i class="fab fa-instagram"></i>Instagram</a></li>
                <li><a href="#"><i class="fab fa-youtube"></i>Youtube</a></li>
            </div>
            <div class'contact'>
                <h3>CONTACT</h3>
                <li><p><i class="fa-solid fa-location-dot"></i>7480 E IRLO BRONSON<br>MEMORIAL HWY<br>SAINT CLOUD, FL 34771</p></li>
                <li><p><i class="fa-solid fa-phone"></i>(321) 443-2708</p></li>
                <li><p><i class="fa-regular fa-envelope"></i>email</p></li>

            </div>
        </div>

        <p class='rights'>&copy; <span id="year"></span> IPG Church. All Rights Reserved.</p>

    </footer>






    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        function showSidebar(){
            event.preventDefault();
            const sidebar = document.querySelector('.sidebar');
            sidebar.style.display = 'flex';
        }
        function closeSidebar(){
            event.preventDefault();
            const sidebar = document.querySelector('.sidebar');
            sidebar.style.display = 'none';
        }
        document.addEventListener("DOMContentLoaded", function () {
            // Automatically update the copyright year
            document.getElementById('year').textContent = new Date().getFullYear();
    
            // Initialize Swiper
            const swiper = new Swiper(".card-swiper", {
                centeredSlides: false,
                spaceBetween: 0,
                slidesPerView: 'auto'
            });
        });
    </script>
</body>