{% load static %}
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>IPG Church</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav id='info'>
            <div class="nav-logo">
                <a href="{% url 'home' %}">
                    <img class='logo' src="{% static 'images/nav_pic.PNG' %}" alt="IPG Church">
                </a>
            </div>
            <div class='nav-center'>
                <ul class="nav-links">
                    <li><a class='home' href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="/#contact">Contact Us</a></li>
                    <li><a href="{% url 'gallery' %}">Gallery</a></li>
                </ul>
            </div>
            <div class='nav-right'>
                <div class="social-icons">
                    <a href="https://www.facebook.com/people/IPG-Church/61590635636654/?mibextid=wwXIfr&rdid=ukyiIrxsJuHOu2hH&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1CrXUjpLft%2F%3Fmibextid%3DwwXIfr/"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/ipgprovocadores/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/@ipgchurch?si=7gsfHBuSs9cuPmx1/"><i class="fab fa-youtube"></i></a>
                </div>
                <a href="https://www.zeffy.com/en-US/donation-form/church-fundraiser-provocadores-de-su-gloria?fbclid=IwdGRleASpAyRleHRuA2FlbQIxMQBzcnRjBmFwcF9pZAo2NjI4NTY4Mzc5AAEeRfFzaADsrdc_yTLrqGn9oNeePAZk_NeIPVGcmZcJEkGPABD0hAkbwQPxbPM_aem_YWdncwv_F-6c7DfMezMQVTzaLVdS&brid=YWdncwER1W35e8dlxBKzyjz3vsEc" class="donate-btn">
                    <i class="fa-solid fa-heart"></i>
                    Donate
                </a>
                <button class="menuButton" onclick="showSidebar()">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="overlay" onclick="closeSidebar()"></div>
                <div class="sidebar">
                    <button class="close-btn" onclick="closeSidebar()">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'about' %}">About</a>
                    <a href="/#contact">Contact Us</a>
                    <a href="{% url 'gallery' %}">Gallery</a>
                </div>

            </div>
        </nav>
    </header>
    <main>
        <div class="page-container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <div class='ftr-info'>
            <div class='ftr-left'>
                <a href="{% url 'home' %}">
                    <img class='logo' src="{% static 'images/footer_logo.png' %}" alt='IPG Church'>
                </a>
                    <p>Encendidos por su presencia.
                    <br>Transformados para impactar.</p>
            </div>
            <div class='quick-links'>
                <ul class="ftr-links">
                    <h3>QUICK LINKS</h3>
                    <li><a class='ftr-home' href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="/#contact">Contact Us</a></li>
                    <li><a href="{% url 'gallery' %}">Gallery</a></li>
                </ul>
            </div>
            <div class='ministries'>
                <ul class='min-info'>
                    <h3>MINISTRIES</h3>
                    <li><a href="{% url 'ministries' %}">Kids</a></li>
                    <li><a href="{% url 'ministries' %}">Women</a></li>
                    <li><a href="{% url 'ministries' %}">Men</a></li>
                    <li><a href="{% url 'ministries' %}">Worship</a></li>
                </ul>
            </div>
            <div class='social'>
                <h3>FOLLOW US</h3>
                <li><a href="https://www.facebook.com/people/IPG-Church/61590635636654/?mibextid=wwXIfr&rdid=ukyiIrxsJuHOu2hH&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1CrXUjpLft%2F%3Fmibextid%3DwwXIfr/"><i class="fab fa-facebook"></i>Facebook</a></li>
                <li><a href="https://www.instagram.com/ipgprovocadores/"><i class="fab fa-instagram"></i>Instagram</a></li>
                <li><a href="https://www.youtube.com/@ipgchurch?si=7gsfHBuSs9cuPmx1/"><i class="fab fa-youtube"></i>Youtube</a></li>
            </div>           
            <div class='contact'>
                <h3>CONTACT</h3>
                <li><p><a href='https://www.google.com/maps/place/IPG+Church/@28.1807188,-81.1388914,17z/data=!4m15!1m8!3m7!1s0x88dded6bf8337e9b:0x1bb461cbab6532f8!2s7480+E+Irlo+Bronson+Memorial+Hwy,+St+Cloud,+FL+34771!3b1!8m2!3d28.1807141!4d-81.1363165!16s%2Fg%2F11gm9x806x!3m5!1s0x88dded001bd7258d:0xcffa7a132840e49d!8m2!3d28.1807141!4d-81.1363165!16s%2Fg%2F11npn25bhq?entry=ttu&g_ep=EgoyMDI2MDYwMS4wIKXMDSoASAFQAw%3D%3D' target='_blank'>
                    <i class="fa-solid fa-location-dot"></i>
                    7480 E IRLO BRONSON<br>MEMORIAL HWY
                    <br>SAINT CLOUD, FL 34771</a></p></li>
                <li><p><a href='tel:+13214432708'>
                    <i class="fa-solid fa-phone"></i>
                    (321) 443-2708</a></p></li>
                <li><p><a class='email' href='mailto:provocadoresdegloria88@gmail.com'>
                    <i class="fa-regular fa-envelope"></i>
                    provocadoresdegloria88@gmail.com</a></p></li>
            </div>
        </div>
        <span class='line'>&copy; <span id="year"></span> IPG Church. All Rights Reserved.</span>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        function showSidebar() {
            document.querySelector('.sidebar').classList.add('open');
            document.querySelector('.overlay').style.display = "block";
        }

        function closeSidebar() {
            document.querySelector('.sidebar').classList.remove('open');
            document.querySelector('.overlay').style.display = "none";
        }
        document.addEventListener("DOMContentLoaded", function () {
            // Automatically update the copyright year
            document.getElementById('year').textContent = new Date().getFullYear();
    
            // Initialize Swiper
            const swiper = new Swiper(".card-swiper", {
                centeredSlides: false,
                spaceBetween: 0,
                slidesPerView: 'auto'
            });
            document.querySelectorAll('.sidebar a').forEach(link => {
                link.addEventListener('click', () => {
                    closeSidebar();
                });
            });
        });
    </script>
</body>