{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel='stylesheet' href="{% static 'css/gallery.css' %}">
{% endblock %}
{% block content %}
<div class='gallery-container'>
    <div class='gallery-header'>
        <div class="gallery-bckgnd-img">
            <img class="gallery-img"
            src="{% static 'images/about_img.jpeg' %}"
            alt="WORSHIP">
        </div>
        <div class='gallery-page-content'>
            <h1>NUESTRA <span class='highlight'>
                GALERÍA</span>
            </h1>
            <p>Moments that celebrate faith,<br>
                worship, and community.
            </p>
        </div>
    </div>
    {% for album in albums %}
        <div class="album-card">
            <h2>{{ album.title }}</h2>
            <img src="{{ album.cover_image.url }}">           
            <p>{{ album.images.count }} Photos</p>
            <a href="{% url 'album_detail' album.id %}">
                View Album →
            </a>
        </div>
        {% if user.is_authenticated %}
            <a class='upload-btn' href="{% url 'upload_gallery_images' album.id %}">
                Upload Images
            </a>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}