{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel='stylesheet' href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<div class='home-container'>
    <section id='home'>
        <div class="hero-content">
            <div class="background-img">
                <img class="worship"
                src="{% static 'images/background_img.jpeg' %}"
                alt="WORSHIP">
            </div>
            <div class="home-text">
                <h2>WELCOME TO<BR></h2>
                <h1>IPG <span class='title'>CHURCH</span>
                <h3>ENCENDIDOS POR <span class='highlight'>SU PRESENCIA</span>.<br>
                    TRANSFORMADOS PARA <span class='highlight'>IMPACTAR</span>.</h3>
                <a href="{% url 'request_prayer' %}"
                    class="btn-primary">
                    <i class='fas fa-pray'></i>
                        PRAYER REQUEST
                </a>
                <a href="{% url 'sermons' %}"
                    class="btn-secondary">
                    <i class='fa-solid fa-play'></i>
                    WATCH SERMONS
                </a>        
            </div>
            <div class='home-logo'>
                <img class='main-logo' 
                src="{% static 'images/main_pic.png' %}" 
                alt="IPG CHURCH">
            </div>
        </div>
        <div class="info-card">
                <div class="services">
                    <i class="fa fa-calendar"></i>
                    <div class="info-text">
                        <h6>SERVICES</h6>
                        <p>Sundays 3:00 PM<br>
                        Thursdays 6:00 PM</p>
                    </div>    
                </div>
                <div class="address">
                    <i class='fa-solid fa-location-dot'></i>
                    <div class="info-text">
                        <h6>ADDRESS</h6>
                        <p>7480 E Irlo Memorial Hwy,<br>
                        Saint Cloud, FL 34771</p>
                    </div>    
                </div>
                <div class="contact-us">
                    <i class='fa-solid fa-phone'></i>
                    <div class="info-text">
                        <h6>CONTACT US</h6>
                        <p>(321) 443-2708<br>
                        provocadoresdegloria88@gmail.com</p>
                    </div>
                </div>
            </div>
    </section>
    <section id='about'>
        {% include 'core/about.html'%}
    </section>
</div>
{% endblock %}