{% extends 'core/base.html' %}
{% load static %}
{% block extra_css %}
<link rel='stylesheet' href="{% static 'css/sermons.css' %}">
{% endblock %}
{% block content %}
<div class='sermon-container'>
    <div class='sermons-grid'>
        {% for sermon in sermons %}
            <div class="sermon">
                <h3>{{ sermon.title }}</h3>
               <iframe
                    src="{{ sermon.embed_url }}"
                    title="{{ sermon.title }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen>
                </iframe>
            </div>
        {% endfor %}
    </div>
    <a class='view-more-btn' href="https://www.youtube.com/@ipgchurch">
        View More
    </a>
</div>
{% endblock %}